<!-- dashboard.component.html -->
<div class="container-fluid">
    <div class="row">
        <!-- Barra de navegación lateral -->
        <div class="col-md-2 bg-dark text-white sidebar">
            <nav class="navbar navbar-dark">
                <span class="navbar-brand mb-0 h2">Dashboard <br><strong>{{nombreEmpresa}}</strong></span>
            </nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goInicio()" routerLink="/dashboard"><i
                            class="fa fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goInformes()" routerLink="/informes"><i
                            class="fa fa-chart-bar"></i> Evidencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goCuenta()" routerLink="/mi-cuenta"><i
                            class="fa fa-user"></i> Mi Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="logout()" routerLink="/mi-cuenta"><i
                            class="fa-solid fa-door-open"></i>
                        Cerrar sesión</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 offset-md-2">

            <div class="container mt-3">
                <h2>ISO 27001:2022 Evidence Collection</h2>
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="requisitos-tab" data-toggle="tab" href="#requisitos" role="tab"
                            aria-controls="requisitos" aria-selected="true">Requisitos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="controles-tab" data-toggle="tab" href="#controles" role="tab"
                            aria-controls="controles" aria-selected="false">Controles del
                            Anexo A</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Sección de Requisitos -->
                    <div class="tab-pane fade show active" id="requisitos" role="tabpanel"
                        aria-labelledby="requisitos-tab">
                        <div class="d-flex align-items-center mt-3">
                            <span class="mr-2">Porcentaje de cumplimiento: </span>
                            <div class="progress flex-grow-1">
                                <div id="requisitos-progress-p1" class="progress-bar" role="progressbar"
                                    [ngStyle]="{ width: cumplimientoRequisitos + '%' }"
                                    [attr.aria-valuenow]="cumplimientoRequisitos" aria-valuemin="0" aria-valuemax="100"
                                    [ngClass]="getProgressBarClass(cumplimientoRequisitos)">
                                    {{ cumplimientoRequisitos | number: '1.0-0' }}%
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Tema</th>
                                        <th>Estado</th>
                                        <th>Subir Evidencia</th>
                                        <th>Pregunta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let informe of informes">
                                        <td>{{informe.temaxxxx}}</td>
                                        <td style="width: 200px;">
                                            <span [ngClass]="{
                                                'badge badge-warning': informe?.regestxx === 'Pendiente',
                                                'badge badge-success': informe?.regestxx === 'En Cumplimiento',
                                                'badge badge-danger': informe?.regestxx === 'No Cumple'
                                              }">{{ informe?.regestxx }}</span>
                                        </td>
                                        <td><button class="btn btn-primary btn-sm"><i class="fas fa-upload"></i>
                                                Subir</button></td>
                                        <td>{{informe.requisit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Sección de Controles del Anexo A -->
                    <div class="tab-pane fade" id="controles" role="tabpanel" aria-labelledby="controles-tab">
                        <div class="d-flex align-items-center mt-3">
                            <span class="mr-2">Porcentaje de cumplimiento: </span>
                            <div class="progress flex-grow-1">
                                <div id="requisitos-progress-p2" class="progress-bar" role="progressbar"
                                    [ngStyle]="{ width: cumplimientoControles + '%' }"
                                    [attr.aria-valuenow]="cumplimientoControles" aria-valuemin="0" aria-valuemax="100"
                                    [ngClass]="getProgressBarClass(cumplimientoControles)">
                                    {{ cumplimientoControles | number: '1.0-0' }}%
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Tema</th>
                                        <th>Estado</th>
                                        <th>Aplica</th>
                                        <th>Subir Evidencia</th>
                                        <th>Pregunta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let controles of controlesTabla">
                                        <td>{{controles.temaxxxx}}</td>
                                        <td style="width: 180px;">
                                            <span [ngClass]="{
                                                'badge badge-warning': controles?.regestxx === 'Pendiente',
                                                'badge badge-success': controles?.regestxx === 'En Cumplimiento',
                                                'badge badge-danger': controles?.regestxx === 'No Cumple'
                                              }">{{ controles?.regestxx }}</span>
                                        </td>
                                        <td style="width: 100px;">
                                            <select class="form-control">
                                                <option value="si">Sí</option>
                                                <option value="no">No</option>
                                            </select>
                                        </td>
                                        <td><button class="btn btn-primary btn-sm"><i class="fas fa-upload"></i>
                                                Subir</button></td>
                                        <td>{{controles.requisit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scripts de Bootstrap y dependencias -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            <script>
                function updateProgressBar(sectionId, progressBarId) {
                    const section = document.querySelector(sectionId);
                    const items = section.querySelectorAll('tbody tr');
                    const compliantItems = section.querySelectorAll('span.badge-success');
                    const percentage = (compliantItems.length / items.length) * 100;

                    const progressBar = document.getElementById(progressBarId);
                    progressBar.style.width = percentage + '%';
                    progressBar.setAttribute('aria-valuenow', percentage);
                    progressBar.textContent = Math.round(percentage) + '%';

                    // Cambiar color de la barra de progreso según el porcentaje
                    if (percentage <= 33) {
                        progressBar.classList.remove('bg-warning', 'bg-success');
                        progressBar.classList.add('bg-danger');
                    } else if (percentage <= 66) {
                        progressBar.classList.remove('bg-danger', 'bg-success');
                        progressBar.classList.add('bg-warning');
                    } else {
                        progressBar.classList.remove('bg-danger', 'bg-warning');
                        progressBar.classList.add('bg-success');
                    }
                }

                // Actualizar la barra de progreso al cambiar de pestaña
                document.querySelectorAll('a[data-toggle="tab"]').forEach(tab => {
                    tab.addEventListener('shown.bs.tab', function (e) {
                        const targetId = e.target.getAttribute('href');
                        if (targetId === '#requisitos') {
                            updateProgressBar('#requisitos', 'requisitos-progress-p1');
                        } else if (targetId === '#controles') {
                            updateProgressBar('#controles', 'requisitos-progress-p2');
                        }
                    });
                });

                // Inicializa la barra de progreso para la pestaña activa al cargar la página
                document.addEventListener('DOMContentLoaded', function () {
                    const activeTab = document.querySelector('a[data-toggle="tab"].active').getAttribute('href');
                    if (activeTab === '#requisitos') {
                        updateProgressBar('#requisitos', 'requisitos-progress-p1');
                    } else if (activeTab === '#controles') {
                        updateProgressBar('#controles', 'requisitos-progress-p2');
                    }
                });

                // Evento para actualizar la barra de progreso de "Requisitos"
                document.getElementById('requisitos-tab').addEventListener('click', () => {
                    updateProgressBar('#requisitos', 'requisitos-progress-p1');
                });

                // Evento para actualizar la barra de progreso de "Controles del Anexo A"
                document.getElementById('controles-tab').addEventListener('click', () => {
                    updateProgressBar('#controles', 'requisitos-progress-p2');
                });
            </script>
        </div>
    </div>
</div>