<!-- dashboard.component.html -->
<div class="container-fluid">
    <div class="row">
        <!-- Barra de navegación lateral -->
        <div class="col-md-2 bg-dark text-white sidebar">
            <nav class="navbar navbar-dark">
                <span class="navbar-brand mb-0 h1">Dashboard Auditor</span>
            </nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goInicio()" routerLink="/dashboard"><i
                            class="fa fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goCalificaciones()" routerLink="/calificaciones"><i
                            class="fa fa-chart-bar"></i> Calificar informes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goInformes()" routerLink="/informes"><i
                            class="fa fa-chart-bar"></i> Subir informes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goCuenta()" routerLink="/mi-cuenta"><i
                            class="fa fa-user"></i> Mi Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="logout()" routerLink="/mi-cuenta"><i
                            class="fa-solid fa-door-open"></i>
                        Cerrar sesión</a>
                </li>
            </ul>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-10 offset-md-2">
            <div class="container mt-3">
                
            </div>
        </div>
    </div>
</div>