<app-header></app-header>
    <div class="container">

        <h1>CREAR EMPLEADO</h1>
        <hr>

        <form [formGroup]="crearForm" (ngSubmit)="postForm(crearForm.value,id.value)" (click)="resetActivar()">

            <div class="form-group">
                <label for="exampleFormControlInput1">id</label>
                <input #id type="text" class="form-control" placeholder="id del empleado" formControlName="id" [ngClass]="{cambioColor : crearForm.controls['id'].dirty && crearForm.controls['id'].hasError('required') || crearForm.controls['id'].hasError('pattern')}">
                <div *ngIf="crearForm.controls['id'].dirty">
                        <label class="mensajeError" *ngIf="crearForm.controls['id'].hasError('required')">*Campo requerido</label>
                        <label class="mensajeError" *ngIf="crearForm.controls['id'].hasError('pattern')">*Solo ingrese numeros en este campo</label>
                </div>
            </div>            
            <div class="form-group">
                <label for="exampleFormControlInput2">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del empleado" formControlName="nombre" [ngClass]="{cambioColor : crearForm.controls['nombre'].dirty && crearForm.controls['nombre'].hasError('required') || crearForm.controls['nombre'].hasError('pattern')}">
                <div *ngIf="crearForm.controls['nombre'].dirty">
                    <label class="mensajeError" *ngIf="crearForm.controls['nombre'].hasError('required')">*Campo requerido</label>
                    <label class="mensajeError" *ngIf="crearForm.controls['nombre'].hasError('pattern')">*Solo ingrese letras en este campo sin caracteres especiales</label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput3">Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido del empleado" formControlName="apellido" [ngClass]="{cambioColor : crearForm.controls['apellido'].dirty && crearForm.controls['apellido'].hasError('required') || crearForm.controls['apellido'].hasError('pattern')}">
                <div *ngIf="crearForm.controls['apellido'].dirty">
                    <label class="mensajeError" *ngIf="crearForm.controls['apellido'].hasError('required')">*Campo requerido</label>
                    <label class="mensajeError" *ngIf="crearForm.controls['apellido'].hasError('pattern')">*Solo ingrese letras en este campo sin caracteres especiales</label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput4">Cedula</label>
                <input type="text" class="form-control" placeholder="Cedula del empleado" formControlName="cedula" [ngClass]="{cambioColor : crearForm.controls['cedula'].dirty && crearForm.controls['cedula'].hasError('required') || crearForm.controls['cedula'].hasError('pattern') || crearForm.controls['cedula'].hasError('minlength') || crearForm.controls['cedula'].hasError('maxlength')}">
                <div *ngIf="crearForm.controls['cedula'].dirty">
                    <label class="mensajeError" *ngIf="crearForm.controls['cedula'].hasError('required')">&nbsp;*Campo requerido*</label>
                    <label class="mensajeError" *ngIf="crearForm.controls['cedula'].hasError('pattern')">&nbsp;*Solo ingrese numeros en este campo*</label>
                    <label class="mensajeError" *ngIf="crearForm.controls['cedula'].hasError('minlength')">&nbsp;*6 caracteres minimo*</label>
                    <label class="mensajeError" *ngIf="crearForm.controls['cedula'].hasError('maxlength')">&nbsp;*10 caracteres maximo*</label>
                </div>
            </div>
            <div>
                <label for="exampleFormControlInput5">Sexo</label><br>
                <select formControlName="sexo">
                    <option value="No registrado"> Seleccione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>      
            <div class="form-group">
                <label for="exampleFormControlInput6">Fecha de nacimiento</label>
                <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="fechaNacimiento" [ngClass]="{cambioColor : crearForm.controls['fechaNacimiento'].dirty && crearForm.controls['fechaNacimiento'].hasError('required')}">
                <div *ngIf="crearForm.controls['fechaNacimiento'].dirty">
                    <label class="mensajeError" *ngIf="crearForm.controls['fechaNacimiento'].hasError('required')">*Campo requerido</label>
                </div>
            </div><br>   
            <button type="submit"  style="border-radius: 20px;"  class="btn btn-primary" [disabled]="crearForm.invalid">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="dashboard()" style="background-color: mediumseagreen; border-color: mediumseagreen; float: inline-end; border-radius: 20px;">Volver</button>             
        </form><br>  
        <div *ngIf="activarSuccess==true">
            <app-mensaje-success [mensaje]="mensaje"></app-mensaje-success>
        </div>
         <div *ngIf="activarDanger==true">
            <app-mensaje-danger [mensaje]="mensaje"></app-mensaje-danger>
        </div> 
            
    </div>    
<app-footer></app-footer>
