.mensajeError {
  color: red;
}
.cambioColor {
  box-shadow: 1px 1px 4px 4px rgba(255, 0, 0, 0.486);
  border-color: red;
}
.card {
  margin-bottom: 20px;
}
.navbar-brand,
.nav-link {
  font-weight: bold;
}
.nav-link:hover {
  background-color: #007bff;
}
.container-fluid {
  padding: 0;
}
.sidebar {
  height: 100vh;
  position: fixed;
}

.sidebar {
  height: 100vh;
  position: fixed;
}
.card {
  margin-bottom: 20px;
}

table th,
table td {
  text-align: center;
  padding: 10px;
}
