/* You can add global styles to this file, and also import other style files */
footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;    
    text-align: center;
}
body{
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}